/* ----------------------------------------------------------------
*   AUTHOR:         Luis Belloch, Abidán Brito, Pablo Enguix,
*                   Jorge Grau, Daniel Burruchaga
*   FILE:           app_style.css
*   DATE:           13/06/2020
*   STATE:          WIP
*  ---------------------------------------------------------------- */


/* ------------------ */


/* -- Variables -- */


/* ------------------ */

:root {
    --principal-color: #333333;
    --secondary-color: #DDDDDD;
}

.WIP-feature {
    visibility: hidden;
}


/* ------------------ */


/* ------------------ */


/* --- ADMIN.HTML --- */


/* ------------------ */

.admin_page .collapse.show {
    display: block;
}

.admin_page p {
    margin: 0;
}

.admin_page .arriba {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin_page .arriba i {
    color: #333333;
}

.admin_page .user-info,
.admin_page #createUser {
    width: 300px;
    flex-direction: column;
    background-color: #333333;
    border-radius: 15px;
    color: #f8f8f8;
    padding: 7px 15px;
    margin: auto;
}

.admin_page .user-info {
    display: flex;
    margin-bottom: 10px;
}

.admin_page #createUser .newUserData {
    width: 252px;
    margin: 0 auto;
}

.admin_page .general_info {
    width: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin_page .user-data {
    width: inherit;
}

.admin_page .options {
    display: flex;
}

.admin_page .options i {
    font-size: 18px;
    margin: 0 5px;
}

.admin_page .input-group {
    background-color: #f8f8f8;
    margin: 1rem auto;
}

.admin_page .editUser,
.admin_page .moreInfo {
    margin-top: 10px;
    flex-direction: column;
    margin: auto;
}

.admin_page .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    margin-bottom: 1.25rem;
}

.admin_page .editUser .editData,
.admin_page .moreInfo .plots,
.admin_page .createPlot,
.admin_page .previewMap {
    flex-direction: column;
    margin: auto;
    width: 252px;
}

.admin_page input {
    font-family: 'Poppins', sans-serif !important;
}

.admin_page h3 {
    margin: 0 auto;
}

.admin_page .fa-angle-left {
    font-size: 1.5rem;
}

.admin_page .roleId,
.admin_page .admin_page #newUserRoleId {
    background-color: #dddddd;
    color: #333333;
    width: 252px;
}

.admin_page .moreInfo p {
    margin-bottom: 4px;
}

.admin_page .moreInfo button {
    border: none;
    box-shadow: none;
    min-width: fit-content;
    width: 93px;
    margin: 0;
    margin-bottom: 0.8rem;
}

.admin_page .plots,
.admin_page .allPlots {
    height: 108.8px;
    overflow: scroll;
}

.admin_page .plots table,
.admin_page .allPlots table {
    width: 224px;
    margin: auto;
    background-color: #dddddd;
    text-align: center;
    color: #333333;
}

.admin_page .plots table tr,
.admin_page .allPlots table tr {
    border: 1px solid #333333;
    font-size: 18px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.admin_page .buttons {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 252px;
    margin-top: 5px;
}

.admin_page .button {
    margin-left: 0;
    margin-right: 0;
}

.admin_page button {
    border: none !important;
    box-shadow: none !important;
    max-width: 252px !important;
    min-width: 0 !important;
    width: 96px;
    font-size: 13px;
}

.admin_page input[type="checkbox"] {
    display: initial;
}

.admin_page input[name="latitude"],
.admin_page input[name="longitude"] {
    width: 108px;
}

.admin_page .polygonInfo,
.admin_page .probeInfo,
.admin_page .addVertex,
.admin_page .addProbe {
    display: flex;
    justify-content: space-between;
}

.admin_page .vertexPlotList input[name="latitude"],
.admin_page .vertexProbeList input[name="latitude"] {
    margin-right: 54px;
}

.admin_page .addVertex,
.admin_page .addProbe {
    flex-direction: row-reverse;
}

.admin_page .plotForm {
    width: 252px;
    margin: auto;
}

.admin_page input:focus {
    outline: none;
    color: #dddddd;
    border-color: #dddddd;
}

.admin_page #searchInput:focus {
    color: #333333;
}

.admin_page .input-login {
    height: 37px;
}

.admin_page .createPlotTitles {
    display: flex;
    justify-content: center;
}

.admin_page .addVertex {
    margin-bottom: 1rem;
}

.admin_page .addVertex button,
.admin_page .addProbe button {
    background-color: transparent;
    color: #3D96E8;
    border: 1px solid #3D96E8 !important;
    border-radius: 1.5rem;
}

.admin_page .undo-changes {
    padding-top: 4px;
    color: #a0a0a0;
}

.admin_page .counter {
    color: #ccc;
    display: flex;
    justify-content: center;
}

.admin_page .createPlotTitles {
    color: #f8f8f8;
}

.admin_page #createUser .title {
    margin-top: 1rem;
}

.admin_page hr {
    border: 1px solid #808080;
}


/* */

.admin_page select {
    max-width: 252px;
}

.admin_page #createUser {
    margin-bottom: 10px;
}

.admin_page .general_info p {
    cursor: pointer;
}

.admin_page .options img {
    cursor: pointer;
}

.admin_page .moreInfo div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.admin_page .moreInfo div div {
    flex-direction: column;
    align-items: flex-start;
}

.admin_page .moreInfo button {
    max-height: 35px;
}

.admin_page .moreInfo {
    margin: initial;
    flex-direction: row;
    align-items: center;
}

.admin_page #search_mobile {
    max-width: 300px;
}

.admin_page .buttons button {
    margin-top: auto;
}

.admin_page .counter {
    margin-top: 5px;
}

.admin_page .vertexList span {
    display: flex;
    justify-content: center;
}


/*   ADMIN PAGE.html  */

.page {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 75px;
}


/*Admin Images*/

.admin_img {
    width: 45px;
    margin-left: 15px;
}


/*Admin filter buttons container*/

#buttons_div {
    display: flex;
    justify-content: space-around;
    color: gray;
    margin: 0px auto 20px auto;
    width: 100%;
    font-size: 23px;
}


/* Add/delete users/plots buttons container */

#div_add_del {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
}


/*Buttons add / delete*/

.buttons_Add_del {
    height: 34px;
    width: 123px;
    justify-content: flex-end;
    align-self: center;
    background-color: #CEAD3C;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 70px;
    cursor: pointer;
}

.buttons_Add_del:hover {
    color: white;
}


/* Add users/plots accordion style */

.collapse.show {
    display: flex;
}

#divAddUser,
#divAddPlot {
    margin: 15px;
}

#addUser,
#addPlot,
#preview {
    width: 400px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#addUser .close,
#addPlot .close {
    width: 100%;
    text-align: right;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 5px;
}

#addUser h4,
#addPlot h4 {
    text-align: center;
    font-weight: bold;
}

#addPlot input {
    width: 320px;
    height: 25px;
    font-size: 1rem;
    margin: 5px 0px 0px 2.5px;
}

#addPlot #div-polygons,
#addPlot #div-probes,
#addPlot .addVertex {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#addPlot .polygons,
#addPlot .probes {
    width: 140px;
}

#addPlot .addVertex {
    justify-content: space-between;
    margin: 0 20px;
}

#addPlot .counter {
    color: gray;
}

.plot-buttons {
    display: flex;
    justify-content: space-between;
}

.plot-buttons button {
    border: none;
    box-shadow: none;
    width: fit-content;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
}

#selectRole {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*quitar la flecha por defecto*/
    appearance: none;
    background-color: #fff;
    /* flecha pequeña */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}


/*Admin Search*/

input-group {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#search_mobile {
    display: none;
}

#search_pc {
    display: flex;
    min-width: 250px;
}

#buttons_div .admin_a {
    text-decoration: none;
    cursor: pointer;
}

#user_form {
    color: rgb(224, 169, 66);
}

#plot_form {
    color: gray;
}


/* Users/plots table */

#admin_table {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 0;
    margin-top: 5px;
    margin-right: 500px;
    width: 100%;
}

#admin_table tr {
    border-bottom: 1px solid #ccc;
    padding: .35em;
}

#admin_table th,
#admin_table td {
    padding: .35em;
    border: none;
}

#admin_table td[data-label="Empresa"] {
    text-align: center;
}

#admin_table input {
    visibility: hidden;
}

#admin_table tr:focus-within {
    background: rgba(179, 147, 162, 0.8);
    visibility: visible;
    cursor: pointer;
}

#admin_table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


/* Admin paragraphs */

#admin_p {
    margin-right: 10px;
    font-weight: bold;
    margin-right: 5px;
}


/* Welcome text */

#admin_h2 {
    display: flex;
    text-align: center;
    justify-content: center;
}


/*----------------------------------- ADMIN Mobile version --------------------------------------*/

@media screen and (max-width: 740px) {
    .admin_page {
        overflow: scroll;
    }
    .page {
        display: flex;
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
    }
    #div_add_del {
        display: flex;
        flex-direction: row;
        margin-left: 3px;
        margin-bottom: 10px;
    }
    .buttons_Add_del {
        margin-bottom: 5px;
        font-size: 18px;
    }
    /*Admin Search Mobile*/
    #search_mobile {
        display: flex;
        background-color: #fff;
        border: 1px solid gray;
        padding-right: 5px;
        border-radius: 10px;
    }
    #search_mobile input {
        border: none;
        background: none;
    }
    #search_pc {
        display: none;
        margin-left: 20px;
    }
    /*Admin Table Mobile*/
    #admin_table {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border-collapse: separate !important;
        border-radius: 15px;
        border-spacing: 0;
        background-color: #fff;
    }
    #admin_table td {
        border-bottom: 1px solid #ccc;
    }
    #admin_table tr:active {
        opacity: 0.7;
        visibility: visible;
        cursor: pointer;
    }
    .content_row:active {
        background: rgba(179, 147, 162, 0.8);
    }
    /* Admin paragraph */
    #admin_p {
        font-size: 15px;
    }
    /*Admin Images*/
    .admin_img {
        width: 45px;
        margin-left: 20px;
    }
    #search_img {
        width: 30px;
        height: 30px;
        margin: auto;
    }
    /*Admin popups*/
    #divAddUser,
    #divAddPlot {
        margin: 15px auto;
    }
    #addUser,
    #addPlot {
        width: 280px;
        padding: 0px 10px 10px 10px;
    }
    #preview {
        width: 280px;
        padding: 0px 10px 0px 0px;
    }
    #addUser input,
    #addPlot input {
        width: 260px;
        font-size: 1rem;
    }
    #addPlot #div-polygons,
    #addPlot #div-probes {
        flex-direction: column;
        align-items: center;
    }
    #addPlot .polygons,
    #addPlot .probes {
        width: 200px;
    }
    .sondas {
        margin-top: 2.5rem;
        margin-bottom: 0;
    }
    #addMap {
        width: 278px;
        height: 407px;
        border-radius: 20px;
    }
    .undo {
        width: 24px;
        height: 24px;
        opacity: 0.5;
        margin: 5px 20px;
        display: flex;
        cursor: pointer;
    }
    .plot-buttons button {
        font-size: 12px;
    }
    .plot-buttons .button {
        padding: 7px 0.5rem;
    }
}


/*Resoluciones mas bajas */

@media (max-width: 300px) {
    #div_add_del {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .buttons_Add_del {
        /* Admin Buttons Add/delete */
        margin-bottom: 5px;
        font-size: 12px;
        width: 80px;
    }
    #admin_p {
        /* Admin paragraph */
        margin-bottom: 0px;
    }
    #form_filter {
        /* Admin Search */
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }
}


/* ------------------ */


/* -- APP.HTML -- */


/* ------------------ */


/* Graph zone */

#app {
    /*For bugfixing when switching between desktop and mobile*/
    display: block;
    flex-direction: row;
    margin-left: 4em;
    margin-top: 1em;
    margin-right: 4em;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.go-back,
.compare-probes {
    display: none;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.go-back::before {
    content: "\f053";
    font-family: "iconos";
    color: #333333;
    font-size: .9rem;
    position: relative;
    margin-right: .5rem;
}

.compare-probes::before {
    content: "\f362";
    font-family: "iconos";
    color: #333333;
    font-size: .9rem;
    position: relative;
    margin-right: .5rem;
}


/* Top region with map and plot list */

#map-table {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 4em;
    margin-top: 5.25em;
    margin-right: 4em;
}

#map-container {
    margin-left: 9em;
}


/* Google maps, user and map for adding plots */

#map {
    width: 80vw;
    height: 300px;
}

#map-floating-panel {
    width: 80vw;
    height: 50px;
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    color: #dddddd;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-floating-panel p {
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 2;
    margin: 0;
    width: 70%;
}

#map-floating-panel p span {
    font-size: 1.1rem;
}


/* ------------------ */


/* -- Graphs -- */


/* ------------------ */


/* Los selectores de fechas tienen un orden distinto en movil y ordenador */

#desktop-controls {
    display: flex;
    margin-bottom: 20px;
}


/* Hidden in desktop mode */

#dates-mobile {
    display: none;
    cursor: pointer;
}


/* Date selectors father */

#dates {
    display: block;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}


/* Date selectors */

#dates input {
    font-size: 21px;
    width: 143px;
    height: 68px;
    text-align: center;
    border: 0;
    border-bottom: 3px solid grey;
    background-color: transparent;
}

#dates input:focus {
    border-color: mediumpurple;
}


/* Date selectors separator */

.bar {
    width: 3px;
    height: 40px;
    margin: 0 2rem;
    background: #808080;
}


/* Los botones de medidas se separan en dos partes, yaq que tienen una dispoción diferente en movil y ordenador */


/* Botones de medidas en ordenador */

#measurements {
    display: block;
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-left: 5rem;
    justify-content: space-between;
}


/* Botones de medidas en móvil */

#measurements-mobile {
    display: none;
}

.measurement-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.measurement-btn-container p {
    font-size: 14px;
    color: #808080;
    margin-top: .25rem;
}


/* Incluye icono y texto */

.measure-btn {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #757575;
    background-color: transparent;
}


/* Icons inside the buttons */

.measure-btn img,
.measure-btn-active img {
    width: 70%;
    height: 70%;
}


/* Cuando el botón está activado */

.measure-btn-active {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #757575;
    background-color: transparent;
}


/* Father containing text and a number given from map.js */

#position-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#position-number h2 {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 1rem 0;
}


/* Chart.js container */

#chart-container {
    width: 100%;
    height: 58.5vh;
    margin: .2rem 0;
    margin-left: -10px;
}


/* Hidden in desktop mode */

#select-css {
    display: none;
}


/* Plot names from plots_list.js */

.td-user a {
    text-decoration: none;
    color: black;
}


/*User tables*/

.tab-head-user {
    display: flex;
    flex-direction: column
}


/* User name father */

#username {
    display: flex;
    flex-direction: row;
    align-self: center;
}


/* User name itself */

#username h2 {
    font-size: 20px;
    display: flex;
    align-self: flex-start;
    margin-left: 2rem;
}


/* user-table father */

#tab {
    min-width: 200px;
    display: flex;
    align-self: center;
    width: 259px;
    height: 303px;
    margin-left: 2em;
    margin-right: 2em;
    overflow-x: hidden;
}

#tab::-webkit-scrollbar {
    display: none;
}


/* where plots are shown from plots_list.js */

.user-table {
    /* border: 1px solid #ccc;*/
    /* padding: 0; */
    margin: 5px;
    height: auto;
}


/* Table elements from plots_list */


/* ------------------------------ */

.user-table tr {
    background-color: #f8f8f8;
    padding: .35em;
}

.user-table th,
.user-table td {
    padding: .625em;
    border: none;
}

.user-table tr:hover .edit-button {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.content-row:hover {
    background: rgba(179, 147, 162, 0.8);
}

.user-table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.delete-button {
    display: inline;
}

.delete-button:active input {
    visibility: visible;
}

td a {
    text-decoration: none;
    color: black;
}


/* =========================POPUP========================= */

.form-popup {
    display: none;
    flex-flow: column;
    position: inline;
    z-index: 9;
}

.form-container {
    display: flex;
    flex-flow: column;
    min-width: 300px;
    padding: 10px;
    align-items: center;
    margin-right: 5px;
    background-color: white;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
}


/* Full-width input fields */

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px;
    border-radius: 10px;
    background: #f1f1f1;
}


/* cuando presionas input */

.form-container input[type=text]:focus {
    background-color: #f1f1f1;
    outline: none;
}

.form-container .btn {
    background-color: var(--principal-color);
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-container a {
    justify-content: flex-end;
}

.form-popup img {
    width: 40px;
    height: 40px;
}


/* =========================POPUP========================= */

.form-popup {
    display: none;
    flex-flow: column;
    position: inline;
    z-index: 9;
}

.form-container {
    display: flex;
    flex-flow: column;
    min-width: 300px;
    padding: 10px;
    align-items: center;
    margin-right: 5px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px;
    border-radius: 10px;
    background: #f1f1f1;
}


/* cuando presionas input */

.form-container input[type=text]:focus {
    background-color: #f1f1f1;
    outline: none;
}

.form-container .btn {
    background-color: #664b58;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-container a {
    justify-content: flex-end;
}

.form-popup img {
    width: 40px;
    height: 40px;
}


/*-----------------------------------Mobile version--------------------------------------*/

@media (max-width: 740px) {
    /*-----------------------------------*/
    .go-back,
    .compare-probes {
        display: flex;
    }
    /*see other fields*/
    .menu {
        width: 20rem;
        height: 11.9375rem;
    }
    .menu img {
        display: inline-block;
    }
    .menu strong {
        font-size: 1.2rem;
        padding: 0;
    }
    .menu ul {
        display: none;
        max-height: 6.9375rem;
    }
    /*Date filter*/
    .dates {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .dates input {
        font-size: 0.73rem;
    }
    /*Graph*/
    .data {
        width: 20rem;
        height: 11.9375rem;
    }
    /*buttons*/
    #button {
        width: 20rem;
        height: 11.9375rem;
    }
    #button .buttons {
        width: 2.3125rem;
        height: 2.3125rem;
    }
    #button img {
        width: 1.6875rem;
        height: 1.6875rem;
        margin: 0 auto;
    }
    /*-------------------------*/
    /*POPUP*/
    /*-------------------------*/
    .form-popup img {
        width: 40px;
        height: 40px;
        margin-left: 10em;
    }
    /*-----------------------------------Mobile version--------------------------------------*/
    @media (max-width: 740px) {
        /* Hide scrollbar */
        body {
            overflow: hidden;
        }
        /* Bienvenido */
        #username h2 {
            font-size: 24px;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        #map-container {
            margin: 0;
        }
        #map-floating-panel {
            top: 45px;
            height: 95px;
            width: 100vw;
        }
        /* Mapa de posiciones grande */
        #map {
            width: 100vw;
            height: 80%;
            position: sticky;
            padding-top: 1rem;
            bottom: 0;
        }
        /* tabla de parcelas, solo escritorio */
        #tab {
            display: none;
        }
        /* controles de escritorio */
        #desktop-controls {
            display: none;
        }
        /* Gráfica y botones de medidas */
        #app {
            display: flex;
            display: none;
            flex-direction: column;
            justify-content: center;
            margin-left: 1.75rem;
            margin-right: 1.75rem;
            margin-top: 4rem;
        }
        /* selectores de fechas escritorio */
        #dates {
            display: none;
        }
        /* padre de los selectores en movil */
        #dates-mobile {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: .8rem;
        }
        /* los selectores en movil */
        #dates-mobile input {
            font-size: 12px;
            width: 100px;
            height: 30px;
            text-align: center;
            border: 0;
            border-bottom: 3px solid grey;
            background-color: transparent;
        }
        #dates-mobile input:focus {
            border-color: var(--principal-color);
        }
        /* barra de separación de los selectores de fechas */
        .bar {
            width: 2px;
            margin: 0 1.5rem;
            height: 20px;
            background-color: #808080;
        }
        /* posicion seleccionada */
        #positionNumber {
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 13px;
            display: flex;
            flex-direction: row;
            color: var(--principal-color);
        }
        /* chart.js */
        #chart-container {
            margin-bottom: 1em;
        }
        /*botones medidas*/
        #measurements-mobile {
            width: 100%;
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
        }
        /* Ditch the box outline */
        .measure-btn:focus,
        .measure-btn-active:focus {
            outline: none;
        }
        .measure-btn {
            width: 41px;
            height: 41px;
            border-radius: 100%;
            background-color: transparent;
        }
        /*active buttons*/
        .measure-btn-active {
            width: 41px;
            height: 41px;
            border-radius: 100%;
            background-color: transparent;
        }
        /*general*/
        #map-table {
            flex-direction: column;
            width: 100%;
            margin: 0;
        }
        #map {
            height: calc(100vh - 45px);
            position: absolute;
            top: 45px;
        }
        /*-----------------------------------*/
        /*see other fields*/
        .menu {
            width: 20rem;
            height: 11.9375rem;
        }
        .menu img {
            display: inline-block;
        }
        .menu strong {
            font-size: 1.2rem;
            padding: 0;
        }
        .menu ul {
            display: none;
            max-height: 6.9375rem;
        }
        /*Date filter*/
        .dates {
            font-size: 1rem;
            margin-bottom: 5px;
        }
        .dates input {
            font-size: 0.73rem;
        }
        /*Graph*/
        .data {
            width: 20rem;
            height: 11.9375rem;
        }
        /*buttons*/
        #button {
            width: 20rem;
            height: 11.9375rem;
        }
        #button .buttons {
            width: 2.3125rem;
            height: 2.3125rem;
        }
        #button img {
            width: 1.6875rem;
            height: 1.6875rem;
            margin: 0 auto;
        }
    }
}


/* ------------------ */


/* -- WEATHER.HTML -- */


/* ------------------ */

#weather-background {
    background-color: #f8f8f8;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.weather-container {
    width: 49%;
    height: 100%;
}


/* titulo */

.titleWeather {
    margin-top: 4rem;
    font-size: 38px;
    margin-bottom: 9px;
    text-align: center;
}


/*----------------------------------------*/


/* Selector de campos en movil */


/*----------------------------------------*/

#select-weather {
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-right: 30px;
    font-size: 16px;
    color: var(--principal-color);
    border: 1px solid var(--secondary-color);
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #ffffff url("../img/triangle.svg") no-repeat;
    background-position: right 5px top 50%;
}

#select-weather::-ms-expand {
    display: none;
}

#select-weather option {
    font-weight: normal;
}

#predictions-container {
    background-color: var(--principal-color);
    border-radius: 10px;
    width: 100%;
    height: 90%;
    padding: 0.3rem;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto 0 auto;
}


/* Presented in a row of data columns */

.day-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    color: var(--secondary-color);
}


/* Day text */

.day-text:hover {
    cursor: pointer;
}


/* First column */

.first-data-column {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.first-data-column .curr-temp {
    margin-top: 0.75rem;
    align-self: center;
}

.first-data-column .day-icon {
    width: 58px;
}


/* The day shown */

.day-text {
    margin-left: 10%;
}


/* Second column */

.day-data .second-data-column {
    display: flex;
    flex-direction: column;
}


/* To separate text a bit, make it more readable */

.day-data .second-data-column .prediction-temperature,
.day-data .second-data-column .prediction-rainfall {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}


/* Icons sizes and separation from text */

.day-data .second-data-column img {
    width: 29px;
    height: 29px;
    margin-right: 0.2rem;
}


/* Third column */

.misc-data {
    line-height: 26px;
}


/* Divisor bar between today prediction and future */

.weather-separator {
    width: 85%;
    min-height: 1px;
    align-self: center;
    background-color: #f8f8f8;
}


/* Timestamp text on the bottom-right corner */

.timestamp {
    font-size: 0.75rem;
    color: var(--secondary-color);
    align-self: flex-end;
}


/* Canvas chart and button container */

.chart-buttons-container {
    height: 100%;
    width: 49%;
}


/* chart canvas container */

#weather-chart-container {
    width: 100%;
    height: 90%;
}


/* Buttons container */

.weather-buttons-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}


/* Button chart when active */

.weather-button-active {
    border: 2px solid #333333;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* Inactive buttons */

.weather-button {
    border: 2px solid #DDDDDD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#weather-footer {
    margin: 0;
    background-color: #DFDFDF;
    color: #000000;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* For very small screens we enable overflow */


/* @media (max-height: 740px) {
    body {
        overflow: auto;
    }
} */


/*-----------------------------------Mobile version--------------------------------------*/

@media (max-width: 740px) {
    .weather-container {
        width: 100%;
    }
    #predictions-container {
        width: 100%;
    }
    #select-weather {
        width: 100%;
    }
    .chart-buttons-container {
        display: none;
    }
}


/* ------------------ */


/* ------------------ */


/* --- Threshold.HTML --- */


/* ------------------ */


/* ------------------ */


/*   Threshold PAGE.html  */


/* Style for Threshold*/

.threshold_btn_search {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #AC859C;
    height: 40px;
}

#plot_name_form {
    margin-bottom: 10px;
    font-size: 2.1rem;
    color: #B7B7B7;
}

#h3_edit_thresholds {
    font-size: 1.9rem;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 25px;
    display: block;
}

#threshold_h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

#threshold_table tr td {
    border-left: none;
    border-right: none;
    text-align: center;
}


/*Form threshold*/

.form-container {
    min-width: 500px;
    height: 550px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #333333;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
}

.form-container input[type=text] {
    width: 85px;
    height: 25px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px;
    border-radius: 2px;
    background: #f1f1f1;
    text-align: center;
    margin-left: 0px;
    margin-right: 15px;
}


/* when click input */

.form-container input[type=text]:focus {
    background-color: #f1f1f1;
    outline: none;
}


/*Search + Table + Form Div*/

#table_edit {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}


/* Search and table div*/

#search_and_table {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 500px;
    margin-right: 25px;
}

#div_table {
    border: 1px solid #ccc;
    height: 500px;
    border-radius: 10px;
    overflow-y: auto;
}

.div_inputs {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-right: 25px;
}


/*img measures and paragraph*/

.threshold_divimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    margin-left: 0px;
}

.threshold_img {
    width: 25px;
}

.threshold_labelMax {
    margin-left: 95px;
    margin-top: 7px;
    color: #DDDD;
}

.threshold_labelMin {
    margin-left: 100px;
    margin-top: 7px;
    color: #DDDD;
}

.plot_threshold:hover {
    text-decoration: none;
    color: black;
}

#threshold_table tr:focus-within {
    background: #D7BCD1;
    visibility: visible;
    cursor: pointer;
}

.threshold_p {
    color: #DDDD;
}

.mapthres {
    /*
    width: 100%;
    height: 550px;
    box-shadow: 0px 0px 5px 1px #959595;
    border-radius: 10px;
    margin-right: 2em;
    */
}

#mapthresDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 4em;
    margin-top: 2em;
    margin-right: 4em;
    height: 550px;
}

.p_threshold {
    color: #B7B7B7;
}

#p_ok {
    display: none;
    color: #B7B7B7;
}

#selection_plot_p {
    text-align: center;
}

#title_threshold {
    margin-top: 75px;
    text-align: center;
}

#btn_submit_threshold {
    margin-top: 5px;
}

.ui-slider-range {
    background: #3D96E8;
}

.ui-slider-horizontal {
    height: .38em;
    margin-bottom: 15px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: default;
    background: #f1f1f1;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    border: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-radius: 7px;
}

.ui-widget-content {
    border: 0px;
    background: #919191;
    margin-right: 20px;
}

#section_maptresh {
    height: 100%;
    width: 100%;
    margin-right: 20px;
}

.tittlethreshold {
    display: flex;
    top: -70px;
    z-index: 2;
    position: absolute;
    text-align: center;
    left: 100px;
    color: white;
}

.subtitlethreshold {
    top: 100px;
    position: fixed;
    left: 55px;
    color: white;
}

#threshold_close {
    margin-top: 50px;
    position: absolute;
    left: 28px;
}

#maxSalinity {
    border: 0;
    color: #333333;
    font-weight: bold;
    margin-left: 25px;
}

#maxHumedity {
    border: 0;
    color: #333333;
    font-weight: bold;
    margin-left: 25px;
}

.slider-rangeAll {
    width: 390px;
    margin-bottom: 10px;
}

#humidity_black {
    width: 20px;
}

#salinity_black {
    width: 20px;
}


/*----------------------------------- Threshold Mobile version --------------------------------------*/

@media screen and (max-width: 740px) {
    .slider-rangeAll {
        width: 325px;
        margin-bottom: 20px;
    }
    #maxPrecipitation {
        border: 0;
        color: #333333;
        font-weight: bold;
    }
    .threshold_img {
        width: 25px;
        margin-left: 5px;
    }
    #p_ok {
        display: none;
        color: #333;
    }
    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 15px;
        height: 15px;
        cursor: default;
        background: #333;
    }
    #maxHumedity {
        border: 0;
        color: #333333;
        font-weight: bold;
        margin-left: 35px;
    }
    #maxSalinity {
        border: 0;
        color: #333333;
        font-weight: bold;
        margin-left: 35px;
    }
    /*.form-container input[type="text"] {}*/
    .minInput {
        border: 0;
        color: #333333;
        font-weight: bold;
        margin: 0px;
        margin-bottom: 15px;
    }
    .p_threshold {
        color: #333333;
        margin-left: 10px;
    }
    #title_threshold {
        display: none;
    }
    #btn_submit_threshold {
        margin-top: 5px;
    }
    .form-container input {
        margin-left: 20px;
    }
    .threshold_divimg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        margin-right: 0px;
    }
    /* Mapa de posiciones grande */
    .mapthres {
        width: 100vw;
        height: 80%;
        position: sticky;
        padding-top: 1rem;
        margin-top: 0;
        bottom: 0;
    }
    #mapthresDiv {
        margin: 0;
        height: 610px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .threshold_labelMax b {
        margin-left: 90px;
        font-size: 0.8rem;
    }
    .threshold_labelMin b {
        font-size: 0.8rem;
        margin-left: 55px;
    }
    .div_inputs {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 25px;
        margin-bottom: 15px;
    }
    #plot_name_form {
        color: #333;
        margin-bottom: 5px;
        margin-top: 90px;
        font-size: 1.75rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    #h3_edit_threshold {
        margin-top: 0px;
    }
    .threshold_labelMax {
        margin-left: 20px;
    }
    .threshold_labelMin {
        margin-left: 10px;
    }
    .form-container {
        display: none;
        flex-flow: column;
        /*min-width: 360px;
        width: 250px;*/
        height: 120%;
        align-items: center;
        background-color: #F8F8F8;
        border: 0;
        border-radius: 0;
        margin-left: 5px;
    }
    /* Full-width input fields */
    .form-container input[type=text] {
        width: 55px;
        height: 25px;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: 1px;
        border-radius: 2px;
        background: #f1f1f1;
        text-align: center;
        margin-left: 40px;
        margin: 0px;
        margin-bottom: 0px;
    }
    #table_edit {
        display: flex;
        margin-top: 5px;
    }
    #search_and_table {
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 500px;
        margin-right: 0px;
    }
    .page {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        margin-right: 1em;
    }
    #threshold_table tr {
        height: 40px;
        text-align: center;
    }
    #search_pc {
        display: flex;
        margin: 0px;
    }
    .threshold_p {
        font-size: 12px;
    }
}


/* -------------------------- */


/*  -  notifications.HTML  -  */


/* -------------------------- */


/* ---- Ajustes basicos ---- */

#alertas-base-button {
    display: none;
}

#alertas-desktop-button {
    display: block;
}

.volver-alertas {
    display: none;
    border: 0px;
    background-color: var(--principal-color);
    ;
    color: var(--secondary-color);
    justify-content: center;
    align-content: center;
    height: auto;
    align-self: center;
    width: 30px;
    font-size: 25px;
}

.filtros-alertas {
    display: none;
}

.select-alertas option {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #DDD;
    color: #333;
}

.tab-alertas,
.alertas-table {
    display: none;
}


/* ---- Titulo de notificaciones ---- */

.h2-alertas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-alerta {
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
}

.subheader-alertas {
    height: 15vh;
}

.title-alertas {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 45px;
}

.umbrales-alertas {
    font-size: 20px;
    margin: auto;
    width: 93%;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    color: #808080;
}


/* ---- Filtrado ---- */

.seccion-filtro-alerta {
    width: 700px;
    height: 94vh;
    background-color: var(--principal-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 13px;
    margin-left: 5px;
    color: var(--secondary-color);
    font-size: 22px;
}

.select-alertas {
    font-size: 22px;
    width: 70%;
    height: 60px;
    text-align: center;
    border: 0;
    border-bottom: 3px solid grey;
    background-color: transparent;
    color: var(--secondary-color);
    margin-top: 10px;
}

.mediciones {
    width: 100%;
    height: 8vh;
    background-color: beige;
}

.dates-alert input {
    font-size: 22px;
    width: 70%;
    height: 60px;
    text-align: center;
    border: 0;
    border-bottom: 3px solid grey;
    background-color: transparent;
    color: var(--secondary-color);
}

.dates-alert {
    margin: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
}

.titulo-alertas {
    margin-top: 20px;
}

.campos-alerta {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10%;
    font-size: 22px;
}

.botones-alertas {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.boton-alertas {
    border: 0px solid;
    width: 70%;
    align-self: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    color: #F9F9F9;
    background-color: #3D96E8;
    font-size: 16px;
    font-weight: bold;
}

.measurements-buttons-alert {
    list-style-type: none;
}

.pulsadores {
    display: inline-block;
}

input[type="checkbox"] {
    display: none;
}

.buttons-label {
    border: 1px solid var(--secondary-color);
    padding: 10px;
    display: flex;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--secondary-color);
    border-radius: 20px;
    width: 70%;
    height: 70%;
    justify-content: center;
}

.buttons-label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.buttons-label img {
    width: 50px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked+.buttons-label {
    border-color: var(--secondary-color);
}

:checked+.buttons-label::before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked+.buttons-label img {
    transform: scale(0.9);
    border-radius: 10px;
}

.date-selector-notifications {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.measurements-buttons-alert {
    width: 100%;
    display: flex;
    margin-top: 6px;
    justify-content: space-around;
    font-size: 12px;
}

.images-alert {
    width: 25px;
}


/* ---- Alertas ---- */

.body-alertas {
    width: 100%;
    height: 80vh;
    background-color: #F8F8F8;
    overflow: auto;
}

.alertas-bloque {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.bloque-alert {
    background-color: #F8F8F8;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notificacion-alert {
    background-color: white;
    border: 2px solid var(--secondary-color);
    border-radius: 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 83%;
    padding: 20px;
    font-size: 16px;
    align-items: center;
}

.main-alertas {
    height: auto;
    overflow: hidden;
}

.secciones-alertas {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 45.4px;
    background-color: #F8F8F8;
}

.fecha {
    flex-direction: column;
    display: flex;
}

.day {
    font-size: 2rem;
}


/* --------------------------------- */


/*  -  notifications.HTML tablet  -  */


/* --------------------------------- */

@media screen and (max-width: 850px) {
    /* ---- Ajustes basicos ---- */
    #alertas-base-button {
        display: block;
    }
    #alertas-desktop-button {
        display: none;
    }
    .filtros-alertas {
        display: flex;
        border: 0px solid blue;
        border-radius: 30px;
        width: 10rem;
        padding: 5px;
        justify-content: center;
        background: none;
        font-weight: bold;
        font-size: 22px;
    }
    .volver-alertas {
        display: flex;
        height: 20px;
        align-self: center;
        justify-content: flex-end;
        font-size: 40px;
        margin-left: 10px;
    }
    #filterField {
        display: none;
    }
    /* ---- Titulo de notificaciones ---- */
    .header-alerta {
        flex-direction: column;
    }
    .subheader-alertas {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .ajustes-alertas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .h2-alertas {
        justify-content: space-between;
        margin-bottom: 15px;
        margin-right: 18%;
    }
    .title-alertas {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* ---- Filtrado ---- */
    .seccion-filtro-alerta {
        width: 96%;
        margin: auto;
        background-color: var(--principal-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        color: var(--secondary-color);
        height: 94vh;
        margin-top: 1.2vh;
        font-size: 24px;
    }
    .dates-alert input {
        font-size: 24px;
        width: 60%;
        height: 60px;
        text-align: center;
        border: 0;
        border-bottom: 3px solid grey;
        background-color: transparent;
        color: var(--secondary-color);
        margin-top: 10px;
    }
    .dates-alert {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
    }
    .buttons-label {
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
    .buttons-label::before {
        background-color: #F8F8F8;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }
    .select-alertas {
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 22px;
    }
    .campos-alerta {
        margin: 0px;
        height: 70px;
        font-size: 25px;
    }
    .images-alert {
        width: 35px;
    }
    .medida {
        font-weight: bold;
    }
    .boton-alertas {
        border: 0px solid;
        width: 60%;
        align-self: center;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 40px;
        color: #F9F9F9;
        background-color: #3D96E8;
        font-size: 25px;
        font-weight: bold;
    }
    /* ---- Alertas ---- */
    .bloque-alert {
        width: 100%;
        margin-bottom: 20px
    }
    .notificacion-alert {
        width: 95%;
        height: 3.4rem;
        font-size: 25px;
        align-items: center;
        display: flex;
        text-align: center;
        padding: 35px;
        padding-left: 25px;
    }
}


/* ------------------------------- */


/*  -  notifications.HTML base  -  */


/* ------------------------------- */

@media screen and (max-width: 550px) {
    /* ---- Ajustes basicos ---- */
    /* ---- Titulo de notificaciones ---- */
    .h2-alertas {
        justify-content: space-between;
        margin-right: 5%;
        font-size: 2px;
    }
    .umbrales-alertas {
        font-size: 16px;
        width: 9rem;
        justify-content: center;
        margin: 0px;
    }
    .ajustes-alertas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .filtros-alertas {
        display: flex;
        width: 6rem;
        font-size: 16px;
    }
    .subheader-alertas {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    /* ---- Filtrado ---- */
    .seccion-filtro-alerta {
        font-size: 14px;
        height: 91.2vh;
    }
    .volver-alertas {
        height: 20px;
        align-self: center;
        font-size: 25px;
        margin-left: 10px;
        width: 15px;
    }
    .buttons-label {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }
    .select-alertas {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .campos-alerta {
        margin: 0px;
        height: 70px;
    }
    .images-alert {
        width: 22px;
    }
    .medida {
        font-weight: bold;
    }
    .boton-alertas {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 18px;
    }
    /* ---- Alertas ---- */
    .bloque-alert {
        width: 100%;
        margin-bottom: 20px
    }
    .notificacion-alert {
        width: 95%;
        height: 3.4rem;
        font-size: 14px;
        align-items: center;
        display: flex;
        text-align: center;
        padding: 20px;
        padding-left: 5px;
    }
}