/*General*/

#app {
    flex-direction: row;
    margin-left: 4em;
    margin-top: 2.25em;
    margin-right: 4em;
}

#user-options {
    background-color: #664b58;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: none;
}

option a:hover {
    color: rgb(224, 169, 66);
}

.tab_and_head {
    display: flex;
    flex-direction: column
}

#map_tabla {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-left: 4em;
    margin-top: 5.25em;
    margin-right: 4em;
}

#div_h2 {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#div_h2 h2 {
    display: flex;
    align-self: flex-start;
}

#div_h2 a {
    display: flex;
    align-items: flex-end;
}

#div_h2buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-end;
}

#div_h2buttons button {
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

#tab {
    overflow-y: scroll;
    min-width: 200px;
    display: flex;
    align-self: center;
    width: 300px;
    height: 370px;
    margin-left: 2em;
    margin-right: 2em;
    overflow-x: hidden;
}

#map {
    width: 100em;
    height: 25em;
    border: solid white;
    border-radius: 10px;
    margin-right: 2em;
}

#graphic_dates {
    display: flex;
    border: solid black;
}


/*Graph*/

.dates {
    font-size: 32px;
    margin-bottom: 0px;
    height: 420px;
    width: 1230px;
}

.dates input {
    font-size: 20px;
    width: 10.25em;
    height: 2.375em;
    margin: inherit;
}

.data {
    height: 13em;
    width: 13000px;
    margin-left: 0em;
}

.links_parcelas {
    text-decoration: none;
    color: #000000;
}


/*Buttons/*/

#button {
    display: flex;
    justify-content: space-around;
    margin-top: 2.25em;
    margin-left: 2.375em;
    margin-right: 4.3125em;
}

#button .buttons {
    border: 1px solid black;
    width: 5.5em;
    height: 5.5em;
    border-radius: 5.5em;
    margin-bottom: 1em;
}

#button img {
    width: 4.0625em;
    height: 4.0625em;
    align-items: center;
}


/*Graph data/*/

#humidity {
    display: none;
    border: 1px solid olive;
}

#salinity {
    display: none;
    border: 1px solid rebeccapurple;
}

#rainfall {
    display: none;
    border: 1px solid blue;
}

#temperature {
    display: none;
    border: 1px solid chocolate;
}

#pressure {
    display: none;
    border: 1px solid yellow;
}


/*Table data*/

table {
    /* border: 1px solid #ccc;*/
    /* padding: 0; */
    margin: 5px;
    width: 250em;
    height: auto;
}

table tr {
    background-color: #f8f8f8;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    border: none;
}

table input {
    display: none;
    margin-right: 5px;
}

table tr:hover .delete-button {}

table tr:hover .edit-button {
    opacity: 0.7;
}

.content_row:hover {
    background: rgba(179, 147, 162, 0.8);
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#select-css {
    display: none;
}

.delete-button {
    display: inline;
}

.delete-button:active input {
    visibility: visible;
}

.edit-button {
    opacity: 0;
}

@media screen and (max-width: 600px) {
    /*max 600px
    table {

        border: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;

    }*/
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border: none;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border: none;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}


/*-----------------------------------Mobile version--------------------------------------*/

@media (max-width: 48rem) {
    .edit-button {
        opacity: 100;
    }
    #tab {
        display: none;
    }
    #map {
        width: auto;
        max-width: 600px;
        height: 17em;
        border: solid white;
        border-radius: 10px;
    }
    /*general*/
    #app {
        flex-direction: column;
        margin-left: 3em;
    }
    #div_h2 {
        display: flex;
        flex-direction: column;
    }
    #div_h2 h2 {
        align-self: center;
    }
    #div_h2buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;
    }
    /*map*/
    #map_tabla {
        flex-direction: column;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 3em;
    }
    table {
        display: none !important;
        border: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    /*----------------------------------------*/
    #select-css {
        display: block;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
        font-weight: 400;
        color: #444;
        line-height: 1.3;
        padding: .4em 1.4em .3em .8em;
        width: 29.5em;
        max-width: 100%;
        box-sizing: border-box;
        margin: .5em;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
        border-radius: .3em;
        -moz-appearance: none;
        -webkit-appearance: none;
        /*quitar la flecha por defecto*/
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    #select-css::-ms-expand {
        display: none;
    }
    #select-css:hover {
        border-color: #888;
    }
    #select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        /*color azul para sombra*/
        color: #222;
        outline: none;
    }
    #select-css option {
        font-weight: normal;
    }
    /*-----------------------------------/*/
    /*see other fields*/
    .menu {
        width: 20rem;
        height: 11.9375rem;
    }
    .menu img {
        display: inline-block;
    }
    .menu strong {
        font-size: 1.2rem;
        padding: 0;
    }
    .menu ul {
        display: none;
        max-height: 6.9375rem;
    }
    /*Date filter*/
    .dates {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .dates input {
        font-size: 0.73rem;
    }
    /*Graph*/
    .data {
        width: 20rem;
        height: 11.9375rem;
    }
    /*buttons*/
    #button {
        width: 20rem;
        height: 11.9375rem;
    }
    #button .buttons {
        width: 2.3125rem;
        height: 2.3125rem;
        margin: 0px;
        padding: 0px;
    }
    #button img {
        width: 1.6875rem;
        height: 1.6875rem;
        margin: 0 auto;
    }
}