/* ----------------------------------------------------------------
*   AUTHOR:         Abidan Brito, Luis Belloch, Jorge Grau
*   FILE:           common_style.css
*   DATE:           16/04/2020
*   STATE:          DONE
*  ---------------------------------------------------------------- */ 

/* --------------------------- */
/* -- INITIAL CONFIGURATION -- */
/* --------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    /* Smooth scrolling & section snapping */
    scrollbar-color: gray rgb(30, 30, 30);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
/* ------------------------------------------------------------------------------------------- */

/* ------------- */
/* -- TOP BAR -- */
/* ------------- */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    min-width: 100%;
    height: 45px;
    background-color: #664b58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}

#logo img {
    display: flex;
    width: 2rem;
}

/* Navigation menu */
.navbar {
    display: flex;
    overflow: hidden;
}

/* Menu list */
.navbar-links {
    display: flex;
    list-style: none;
    align-items: center;
}

/* Menu items */
.navbar-links li {
    padding-left: 3rem;
}

/* Menu items (links) */
.navbar-links li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #dddddd;
}

.navbar-links li a:hover,
.navbar-links li a a:active {
    color: rgb(224, 169, 66);
}

/* Navbar icons container (login and burger) */
.navbar-right {
    display: none;
    align-items: center;
}

#login-icon img {
    display: flex;
    height: 1rem;
    margin-right: 1rem;
}

.menu-icon div {
    width: 24px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #dddddd;
    transition: all 0.25s ease;
}

/* -- MEDIA QUERYS -- */
/* NOTE(abi): Ground truth for testing -> Samsung Galaxy S9 */
@media screen and (max-width: 740px) {
    body {
        min-height: 550px;
        /* Hide scrollbars */
        overflow-x: hidden;
    }

    /* Menu list */
    .navbar-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        width: 100%;
        top: 45px;
        padding-bottom: 90px;
        flex-direction: column;
        justify-content: center;
        background-color: #664b58;
        transform: translateX(100%);
    }

    /* Menu items */
    .navbar-links li {
        opacity: 0;
        padding: 0;
        margin: 1.5rem;
    }

    /* Menu items (links) */
    .navbar-links li a {
        font-size: 18px;
    }

    #login-link {
        display: none;
    }

    /* Navbar icons container (login and burger) */
    .navbar-right {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    #login-icon {
        display: block;
    }
}

/* Control classes */
.navbar-active {
    z-index: 1;
    transform: translateX(0%);
    transition: transform 0.25s ease-in;
    overflow-y: hidden;
}

.login-hide {
    opacity: 0;
}

/* Menu item fade-in animation */
@keyframes navbarLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* -- Burger transformation animation -- */
/* Rotate top line -45 degrees */
.menu-toggle .line-top {
    transform: rotate(-45deg) translate(-5px, 5px);
}

/* Rotate top line 45 degrees */
.menu-toggle .line-bot {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* Hide middle line */
.menu-toggle .line-mid {
    opacity: 0;
}
/* ------------------------------------------------------------------------------------------- */

/* ------------------- */
/* -- MISCELLANEOUS -- */
/* ------------------- */
/* Button template */
.button {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 1.5rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 7px 1.25rem;
    margin: 1.25rem;
    background-color: rgb(224, 169, 66);
    color: #121212;
}

/* Footer template */
.footer {
    width: 100%;
    height: 45px;
    background-color: rgb(80, 80, 80);
    letter-spacing: 2px;
    color: #dddddd;
    padding: 15px;
    text-align: center;
}

/* Current page line marker */
#current-page {
    width: 75%;
    margin: 0 auto;
    height: 1px;
    background-color: #dddddd;
}

/* White-ish color filter */
.white-filter {
    filter: invert(76%) sepia(69%) saturate(4%) hue-rotate(35deg) brightness(101%) contrast(98%);
}
/* ------------------------------------------------------------------------------------------- */

/* ---------------- */
/* -- index.html -- */
/* ---------------- */
.container-index {
    height: 100%;
    width: 100%;
}

/* -- SECTIONS -- */
.main-index,
.section-index {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    padding: 45px;
}

/* Welcome screen section container (banner) */
#showcase {
    background-image: url(../img/plant_background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 90px;
}

/* Plant image */
#showcase img {
    max-height: 628px;
}

/* Banner subcontainer (text + CTA) */
#showcase div {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Brand name */
#showcase h1 {
    font-size: 90px;
    letter-spacing: 3px;
    color: #dddddd;
}

/* Service slogan */
#banner-slogan {
    font-size: 2.25rem;
    color: #dddddd;
    margin: 1rem 0;
}

/* Service description */
#banner-description {
    font-size: 1.25rem;
    color: #dddddd;
    width: 80%;
}

/* CTA */
#cta-button .button {
    font-size: 1.5rem;
    margin: 3.5rem 0;
}

/* Section titles */
h2 {
    font-size: 3.125rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

/* Secondary titles */
h3 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

/* Section descriptive texts */
#slogan01,
#slogan02,
#slogan03 {
    font-size: 1.5rem;
}

/* -- SCROLL DOWN INDICATORS -- */
#scroll-down02 {
    position: absolute;
    top: 190vh;
}

#scroll-down03 {
    position: absolute;
    top: 290vh;
}

#scroll-down04 {
    position: absolute;
    top: 380vh;
    transform: rotate(180deg);
}

/* Scroll down arrow icons */
#scroll-down01 img,
#scroll-down02 img,
#scroll-down03 img,
#scroll-down04 img {
    width: 3rem;
}

/* Services section (¿Qué ofrecemos?) */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

/* Services container ('benefits' subcontainer + CTA) */
#services-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
}

/* Services subcontainer */
#benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Specific service (What is it we offer?) */
#benefits article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 280px;
}

/* Service icon */
#benefits article img {
    margin: 40px;
    height: 100px;
}

/* Get in touch button */
#cta-contact {
    margin: 0 auto;
    margin-top: 80px;
}

#cta-contact a {
    font-size: 1.5rem;
}

/* Magnitudes section (¿Qué medimos?) */
#datalogger {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

/* Magnitudes container (parent) */
.magnitudes {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Magnitude subcontainer (child) */
.magnitudes div {
    flex-direction: column;
    justify-content: space-around;
}

/* Magnitude button containers */
.boxes {
    width: 230px;
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px #959595;
    padding: 10px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

/* Magnitude icons */
.boxes img {
    max-height: 50%;
    padding: 3px;
}

/* User reviews section (Opiniones) */
#reviews {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container with user reviews (x3) */
#reviews-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* User review (subcontainer) */
.user-review {
    display: flex;
    height: 40%;
    flex-direction: column;
    align-items: center;
}

/* User profile container */
.user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 0.5rem;
}

/* User profile picture */
.user img {
    max-height: 80%;
    margin-right: 20px;
    border: 2px solid #9e51b8;
    border-radius: 25px;
}

/* User profile name */
.user p {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

/* Quoted review */
.review {
    width: 370px;
    color: gray;
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

/* -- MEDIA QUERYS -- */
@media screen and (max-width: 740px) {
    .main-index,
    .section-index {
        padding: 20px;
    }

    /* Welcome screen section container (banner) */
    #showcase {
        flex-direction: column-reverse;
        justify-content: flex-end;
        background-image: none;
        background-color: #272b25;
        padding-top: 80px;
    }

    /* Banner subcontainer (text + CTA) */
    #banner {
        padding: 50px;
        margin-top: 2rem;
    }

    /* Brand name */
    #showcase h1 {
        font-size: 45px;
        letter-spacing: 3px;
    }

    /* Service slogan */
    #banner-slogan {
        font-size: 1.25rem;
        margin: 0.8rem 0;
    }

    /* Service description */
    #banner-description {
        font-size: 12px;
        width: 50%;
    }

    /* Plant image */
    #showcase img {
        max-height: 250px;
    }

    /* CTA */
    #cta-button .button {
        font-size: 1.25rem;
        margin: 2.75rem 0 0;
    }

    /* Section titles */
    h2 {
        font-size: 2.2rem;
    }

    /* Secondary titles */
    h3 {
        font-size: 1.25rem;
    }
    
    /* Section descriptive texts */
    #slogan01,
    #slogan02,
    #slogan03 {
        font-size: 0.9rem;
    }

    /* Scroll down indicator (last section) */
    #scroll-down04 {
        top: 379vh;
    }

    /* Scroll down arrow icons */
    #scroll-down01 img,
    #scroll-down02 img,
    #scroll-down03 img,
    #scroll-down04 img {
        width: 2rem;
    }

    /* Services container ('benefits' subcontainer + CTA) */
    #services-content {
        height: 100%;
    }

    /* Services subcontainer */
    #benefits {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 0;
    }

    /* Service icon */
    #benefits article img {
        margin-top: 15px;
        margin-bottom: 30px;
        height: 40px;
    }
    
    /* Get in touch button */
    #cta-contact {
        margin: 1rem auto;
    }

    #cta-contact a {
        font-size: 14px;
    }

    /* Magnitudes container (parent) */
    .magnitudes {
        width: 340px;
        height: 100%;
        flex-direction: column;
        margin-top: 15px;
    }

    /* Magnitudes subcontainer (child) */
    .magnitudes > div {
        width: 97%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .magnitudes div div {
        flex-direction: column;
    }
    
    /* Section title top margin */
    #services,
    #datalogger {
        padding-top: 70px;
    }

    /* Magnitude titles */
    #datalogger h3 {
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        margin: 0;
    }

    /* Magnitude button containers */
    .boxes {
        width: 130px;
        height: 100px;
        border-radius: 12px;
        box-shadow: 0px 0px 5px 1px #959595;
        margin: 10px;
        letter-spacing: 1px;
    }

    /* Magnitude icons */
    .boxes img {
        height: 40px;
        padding: 3px;
    }

    #reviews {
        padding-top: 1.7rem;
    }
    /* Container with user reviews (x3) */
    #reviews-container {
        height: auto;
        margin: auto;
        padding: 0.8rem 0 0;
        flex-direction: column;
        justify-content: space-around;
    }

    /* User review (subcontainer) */
    .user-review {
        width: 260px;
        justify-content: flex-end;
        margin: 1.25rem 0;
    }

    /* User profile container */
    .user {
        height: 70px;
        margin-bottom: 0.6rem;
    }

    /* User profile picture */
    .user img {
        border-radius: 1rem;
    }

    /* User profile name */
    .user p {
        font-size: 14px;
    }
    
    /* Quoted review */
    .review {
        width: 100%;
        font-size: 16px;
    }

    .hide {
        display: none;
    }
}
/* ------------------------------------------------------------------------------------------- */

/* ------------------ */
/* -- contact.html -- */
/* ------------------ */
.container-contact {
    height: 100%;
    overflow: hidden;
}

/* Page title */
.h1-contact {
    letter-spacing: 3px;
    font-size: 36px;
    text-align: center;
    margin-top: 85px;
}

/* Main (section) content */
.main-contact {
    height: 76%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Contact container (tlf, email and address) */
.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    font-size: 1.2rem;
    color: gray;
    height: auto;
    align-self: center;
    width: 100%;
}

/* Pequeño texto de relleno */
.contact-details p {
    font-size: 1.4rem;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

/* Tlf and email containers */
#tlf,
#email {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 5px;
}

/* Tlf and email icons */
#tlf img,
#email img {
    max-width: 2rem;
    margin-right: 20px;
}

/* Tlf and email links */
#tlf a,
#email a {
    color: orange;
    text-decoration: none;
}

/* Map container (Google Maps) */
#map-contact {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px #959595;
    margin-right: 40px;
    margin-bottom: 40px;
}

/* Direccion */
.direction-contact {
    text-align: center;
    width: 89%;
}

/* Tamaño de la letra de direccion */
.direction {
    font-weight: normal;
    font-size: 28px;
}

/* Tamaño de la letra del numero telefonico y el email */
.number,
.email {
    font-size: 2.5rem;
}

/* -- MEDIA QUERYS -- */
/* El primer media query reduce un poco los tamaños */
@media screen and (max-width: 740px) {
    /* Main (section) content */
    .main-contact {
        height: 79%;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .contact-details p {
        margin: 0px;
        height: auto;
    }

    /* Page title */
    .h1-contact {
        font-size: 2rem;
        margin-top: 65px;
    }

    /* Tlf and email containers */
    #tlf,
    #email {
        font-size: 1.2rem;
    }

    /* Tlf and email icons */
    #tlf img,
    #email img {
        max-width: 1.5rem;
        margin-right: 10px;
    }

    /* Contact container (tlf, email and address) */
    .contact-details {
        margin-bottom: 40px;
    }

    /* Map container (Google Maps) */
    #map-contact {
        height: 100%;
        width: 95%;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 0px;
        box-shadow: 0px 0px 5px 1px #959595;
    }

    .direction-contact {
        font-size: 20px;
        text-align: center;
        margin: 20px;
        width: 70%;
    }

    .direction {
        font-size: 20px;
    }

    .number,
    .email {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .main-contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-details p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h1-contact {
        font-size: 2rem;
        margin-top: 70px;
    }

    #tlf,
    #email {
        font-size: 1.2rem;
    }

    #tlf img,
    #email img {
        max-width: 1.2rem;
        margin-right: 10px;
    }

    #map-contact {
        height: 100%;
        width: 95%;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 0px;
        box-shadow: 0px 0px 5px 1px #959595;
    }
    
    .direction-contact {
        width: 260px;
        font-size: 12px;
        text-align: center;
        margin: 20px;
    }
    
    .contact-details {
        margin: 0px
    }
    .direction {
        font-size: 12px;
    }

    .number,
    .email {
        font-size: 1.2rem;
    }
}
/* ------------------------------------------------------------------------------------------- */

/* ---------------- */
/* -- login.html -- */
/* ---------------- */
.container-login {
    background-image: url(../img/flores_recta.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

/* Main content */
.box-login {
    width: 500px;
    height: calc(100vh - 45px);
    margin: 0 auto;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Page title */
.h1-login {
    font-size: 40px;
    margin: 10px;
    font-weight: bold;
}

/* Get in touch text */
.h4-login {
    font-size: 14px;
    margin-top: 10px;
}

/* Page description text */
.label-login {
    color: #646464;
    font-size: 18px;
    width: 250px;
    margin-bottom: 40px;
}

/* Credentials input form */
.input-login {
    width: 350px;
    height: 43px;
    font-size: 25px;
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-bottom: 3px solid grey;
    background-color: transparent;
}

.input-login:focus {
    border-color: mediumpurple;
}

/* Unathorized access (wrong input) */
.input-login:error {
    border-color: red;
}

.login-button {
    width: 250px;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(224, 169, 66);
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

/* Wrong input information message */
#error-msg {
    width: 300px;
    height: 35px;
    color: #7b0303;
    margin-top: 30px;
    margin-bottom: 0PX;
    font-size: 14px;
    text-align: center;
    display: none;
    letter-spacing: 1px;
}

/* Visual separator (line) */
.separator {
    width: 40%;
    height: 2px;
    background-color: grey;
    margin-bottom: 25px;
    margin-top: 10px;
}

/* Link to contact page */
.contact-us {
    color: orange;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

/* -- MEDIA QUERYS -- */
@media screen and (max-width: 740px) {
    .container-login {
        background-image: none;
    }

    /* Main content */
    .box-login {
        width: 300px;
    }
    
    /* Page title */
    .h1-login {
        font-size: 2rem;
    }

    /* Get in touch text */
    .h4-login {
        font-size: 15px;
    }

    /* Page description text */
    .label-login {
        font-size: 1rem;
        width: 200px;
    }

    /* Credentials input form */
    .input-login {
        width: 300px;
        margin: 1rem 0;
    }
    
    .login-button {
        width: 230px;
        height: 40px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1px;
        background-color: rgb(224, 169, 66);
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 1.25rem;
        margin-bottom: 0.3rem;
        border: none;
        cursor: pointer;
        border-radius: 100px;
    }

    /* Visual separator (line) */
    .separator {
        width: 230px;
        margin: 0.5rem;
    }

    /* Link to contact page */
    .contact-us {
        font-size: 15px;
    }
}
/* ------------------------------------------------------------------------------------------- */
