body {
    background-color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    background-color: purple;
    top: 0;
    position: static;
    display: flex;
}


/* Header for mobile */

@media only screen and (max-width: 600px) {
    /* Hide desktop buttons */
    .header_right_desktop {
        visibility: collapse;
    }
    .header_left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .header_right_mobile {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


/* Header for desktop */

@media only screen and (min-width: 600px) {
    /* Hide menu and user button */
    .header_right_mobile {
        visibility: collapse;
    }
    .header_right_desktop {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .faq_button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 5px;
        color: white;
    }
    .nosotros_button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 5px;
        color: white;
    }
    .login_button_header {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 5px;
        color: white;
    }
    .contact_button_header {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 5px;
        padding: 1rem;
        background-color: rgba(112, 182, 3, 1);
        color: white;
        border-radius: 139px;
        box-shadow: 0 2px rgba(0, 0, 0, 0.5);
    }
}

button {
    border: none;
    cursor: pointer;
}

.home {
    width: 60px;
    height: 60px;
}

.user_button {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.menu_button {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.contact_box {
    width: 300px;
    height: 483px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    margin-left: 10px;
}

input {
    width: 278px;
    height: 43px;
    font-size: 25px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-bottom: 2px solid grey;
}

input:focus {
    border-color: mediumpurple;
}

#error_msg {
    width: 213px;
    height: 35px;
    color: rgba(109, 0, 14, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

.separator {
    width: 150px;
    height: 2px;
    background-color: grey;
    margin-top: 25px;
}

.contact_button {
    width: 278px;
    height: 40px;
    background-color: mediumpurple;
    color: white;
    border-radius: 139px;
    font-size: 20px;
}

.login_button {
    width: 278px;
    background-color: white;
    border-radius: 139px;
    border: 1px grey solid;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
