.container {
    height: 100%;
    width: 100%;

}

/* -------------- */
/* -- SECTIONS -- */
/* -------------- */
main,
section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    padding: 45px;
}

#showcase {
    background-image: url(../img/plant_background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 90px;
}

#showcase img {
    max-height: 628px;
}

#showcase div {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#showcase h1 {
    font-size: 90px;
    letter-spacing: 3px;
    color: #dddddd;
}

#showcase p {
    font-size: 36px;
    color: #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button {
    font-size: 24px;
}


#scroll-down02 {
    position: absolute;
    top: 190vh;
}

#scroll-down03 {
    position: absolute;
    top: 290vh;
}

#scroll-down04 {
    position: absolute;
    top: 380vh;
    transform: rotate(180deg);
}

#scroll-down01 img,
#scroll-down02 img,
#scroll-down03 img,
#scroll-down04 img {
    width: 3rem;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

#services-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#services-content article {
    width: 250px;
    text-align: center;
}

#services-content article img {
    height: 70px;
}

.magnitudes {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.magnitudes div {
    flex-direction: column;
    justify-content: space-around;
}

.boxes {
    width: 180px;
    height: 120px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes img {
    max-height: 60%;
    padding: 3px;
}

#datalogger {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

#reviews {
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------ */
/* -- MEDIA QUERYS -- */
/* ------------------ */
/* Ground truth for testing -> Samsung Galaxy S9 */
@media screen and (max-width: 740px) {

    section,
    main {
        padding: 40px;
    }

    #showcase {
        flex-direction: column-reverse;
        justify-content: flex-end;
        background-image: none;
        background-color: #272b25;
        padding-top: 80px;
    }

    #showcase div {
        padding: 35px;
    }

    #showcase h1 {
        font-size: 45px;
        letter-spacing: 3px;
    }

    #showcase p {
        font-size: 20px;
    }

    #showcase img {
        max-height: 250px;
    }

    .button {
        font-size: 20px;
    }

    .hide {
        display: none;
    }

    #scroll-down01 img,
    #scroll-down02 img,
    #scroll-down03 img,
    #scroll-down04 img {
        width: 2rem;
    }

    #scroll-down04 {
        top: 379vh;
    }

    #services-content {
        flex-direction: column;
    }
}
