html {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main,
section {
    margin-left: 20px;
}

#brand img {
    height: 45px;
    padding-left: 10px;
}

.topbar {
    width: 100%;
    overflow: hidden;
    background-color: #b58a5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar div {
    display: none;
}

.topbar .toggle .topbar #brand {
    display: inline-block;
}

.topbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    color: black;
}

.topbar .link:hover,
.topbar .link:active {
    color: white;
    background: #779446;
}

.topbar .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: white;
}

.topbar .toggle {
    height: 1em;
    width: 1em;
    padding: 1em;
    color: black;
}

@media (min-width: 48em) {
    .topbar div {
        display: flex;
        flex: 1;
        align-items: center;
    }

    .topbar .link {
        width: auto;
    }
    
    #menu-toggle {
        display: none;    
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
}

main,
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    align-content: center;
}

.button {
    text-transform: uppercase;
    text-align: center;
    padding: 7px 24px;
    border: 1px solid #ac730b;
    border-radius: 36px;
    color: black;
    background: #ffbd12;
    text-decoration: none;
}
